.btn {
  padding: 0.5rem 1.5rem;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border-radius: 25rem;
  font-size: 0.875rem;
  border: 2px solid $primary;
}

.btn-primary {
  box-shadow: 0 4px 14px 0 rgba(60, 131, 233, .35)
}
#eg-main-cta-btn {
  background-color: $white;
  color: $primary;
}