.card {
  background: #ffffff;
  border-radius: 8px;
  border: none;
  padding: 3.5rem 0.5rem 1.25rem 0.5rem;
}

.eg-testimonial {
  margin: 45px auto;
  text-align: center;
  text-align: center;
  background: $white;
  max-width: 750px;
  min-height: 396px;
  padding: 0 108px 60px;
}
.eg-testimonial .card-body {
  padding: 3rem 1.25rem 1.25rem 1.25rem;
}

.eg-testimonial-p {
  font-size: 18px;
  line-height: 30px;
}

.carousel-indicators li {
  cursor: pointer;
  background-color: $primary;
  opacity: 0.25;
  transition: opacity 0.6s ease;
}

@media (max-width: 767.98px) {
  .eg-testimonial {
    min-height: auto;
    position: relative;
    padding: 0;
  }
}

.eg-testimonial-avatar {
  margin-bottom: -108px;
  left: calc(50% - 48px);
  position: relative;
  z-index: 2;
}

.eg-sub-title {
  font-size: 0.875rem;
  position: relative;
}

.eg-sub-title:after {
  content: "";
  height: 2px;
  width: 48px;
  background-color: $primary;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 24px);
}

.eg-service-block {
  border-radius: 10px;
  background-color: #fff;
  padding-left: 36px;
  padding-right: 36px;
  box-sizing: border-box;
  display: block;
  text-decoration: none;
  position: relative;
  top: 0;
  transition: box-shadow 0.3s, top 0.3s;
}

.single-service-icon {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 25rem;
  margin-bottom: 1.5rem;
  border: 1px solid rgba(0, 0, 0, 0.075);
}

.product-icon {
  background: rgba(60, 131, 233, 0.1);
  height: 64px;
  width: 64px;
  border-radius: 100%;
  display: flex;
  flex: none;
  align-items: center;
  justify-content: center;
  margin-right: 1rem;
  transition: all 0.3s;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.subtitle {
  font-size: 14px;
  line-height: 1.5;
}
