#eg-cta {
  background-image: url("../images/eadsgraphic-cta-background.png");
  color: white;
  text-align: center;
  background-color: #3c83e9;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
}
