header {
  background-image: none;
  position: fixed;
  width: 100%;
  z-index: 100;
}

.header-scrolled {
  background-color: white;
  box-shadow: 0 5px 12px 0 rgba(224, 229, 238, 0.4);
}

header .nav-link {
  color: $white;
  font-weight: 400;
  font-size: 0.875rem;
}

header .nav-item {
  padding: 0 1rem;
}

header .navbar {
  padding: 0.75rem 0;
}

.navbar-toggler {
  cursor: pointer;
}
