.eg-page-header {
  height: 100vh;
}

.full-height {
  height: 100%;
}

.eg-page-header h1 {
  font-weight: 600;
  font-size: 14rem;
  line-height: 1;
  color: rgba(208, 213, 218, 0.25);
  letter-spacing: 0;
  text-align: center;
  position: relative;
}

.eg-page-header p {
  font-weight: 100;
  font-size: 4.5rem;
  color: $black;
  letter-spacing: 0;
  text-align: center;
  position: relative;
  top: -160px;
}
